In [ ]:
%run ./fyers_auth.ipynb

In [ ]:
from tensorflow import keras
import sys
sys.path.append('./shared')
sys.path.append('./strategies')
from data_fetching_func import dynamicDataFetching,clean_data 
from ema_crossover import ema_crossover
import pandas as pd
import pandas_ta as ta
import datetime as dt
import numpy as np

Importing Model

In [ ]:
model = keras.models.load_model('./models/lstm_trend_1.0/')
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 first_layer (LSTM)          (None, 150)               97200

 dense_layer (Dense)         (None, 1)                 151

=================================================================
Total params: 97,351
Trainable params: 97,351
Non-trainable params: 0
_________________________________________________________________

# Trade plan


- Get trend_df and predict trend (once a day only)
- Get trend_df and predict using technical strategy
- check - 1) already in position, 
          2) money management rules
- take trade...

# Notes

- Sl and target will placed as bracket order
- while loop to check every 5min for opportunity
- run model and store trend in db
- search in db, if trend_df not found then only run model, else retrieve from db
- store all tradebook in db datewise

# Money management Rules

- 3 consecutive loss = done for the day

0 = no trade

1 = sell

2 = buy

# Trend Prediction

In [ ]:
startDate = dt.date(2020,1,20) #last working day
endDate = dt.date.today()
symbol="NSE:TATASTEEL-EQ"
resolution = "1D"
trend_df = dynamicDataFetching(fyers,startDate,endDate,symbol,resolution)
clean_data(trend_df)

In [ ]:
trend_df.shape

(686, 5)

In [ ]:
trend_df.tail()

                             open    high   low   close      volume
date
2022-10-14 05:30:00+05:30  101.85  102.80  99.9  100.10  32456805.0
2022-10-17 05:30:00+05:30   99.75  100.40  98.1   99.55  37568783.0
2022-10-18 05:30:00+05:30  100.30  101.00  99.8  100.65  30722156.0
2022-10-19 05:30:00+05:30  100.60  101.25  99.7  100.05  38764542.0
2022-10-20 05:30:00+05:30   99.50  101.20  98.8  100.90  38091315.0

In [ ]:
# Adding indicators
trend_df['RSI']=ta.rsi(trend_df.close, length=15)
trend_df['EMA_20']=ta.ema(trend_df.close, length=20)
trend_df['EMA_100']=ta.ema(trend_df.close, length=100)
trend_df['EMA_150']=ta.ema(trend_df.close, length=150)
trend_df['EMA_200']=ta.ema(trend_df.close, length=200)
trend_df['EMA_500']=ta.ema(trend_df.close, length=500)


# Dropping null values after adding indicators and features
trend_df.dropna(inplace=True)
trend_df.reset_index(inplace = True)
# trend_df.drop(['volume', 'date'], axis=1, inplace=True) # not required
trend_df.drop([ 'date'], axis=1, inplace=True) # not required

In [ ]:
trend_df = trend_df.tail(30)
trend_df.tail()

,open,high,low,close,volume,RSI,EMA_20,EMA_100,EMA_150,EMA_200,EMA_500
182,101.85,102.80,99.9,100.10,32456805.0,44.639713,101.718845,104.664759,106.781093,107.821726,93.037523
183,99.75,100.40,98.1,99.55,37568783.0,43.463089,101.512288,104.563477,106.685317,107.739421,93.063521
184,100.30,101.00,99.8,100.65,30722156.0,46.485680,101.430165,104.485982,106.605379,107.668879,93.093806
185,100.60,101.25,99.7,100.05,38764542.0,45.077278,101.298721,104.398141,106.518553,107.593069,93.121575
186,99.50,101.20,98.8,100.90,38091315.0,47.491982,101.260748,104.328871,106.444135,107.526472,93.152627

In [ ]:
trend_df.shape

(30, 11)

In [ ]:
# Scaling
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
data_set_scaled = sc.fit_transform(trend_df)
print(data_set_scaled)

[[0.97933884 0.84063745 0.8247012  0.76344086 0.51245604 0.72822351
  0.92994796 0.94214621 1.         1.         0.        ]
 [0.86363636 0.75697211 0.83665339 0.75268817 0.41654363 0.71518736
  0.91594312 0.93682156 0.98205646 0.98017023 0.04917367]
 [0.84710744 0.80478088 0.91633466 0.89964158 0.12798515 0.88565673
  0.93770386 0.95153483 0.97729439 0.97162637 0.10553285]
 [0.94628099 0.86454183 1.         0.89964158 0.17025133 0.88565673
  0.95739215 0.96595675 0.97259538 0.96316753 0.16166705]
 [0.80578512 1.         0.86055777 1.         0.70414154 1.
  0.99871974 0.99370552 0.97679828 0.96236556 0.2226184 ]
 [1.         0.88844622 0.91633466 0.84587814 0.40742996 0.78354788
  1.         1.         0.96737032 0.94994206 0.27558452]
 [0.79752066 0.7689243  0.79681275 0.75268817 0.97724979 0.6639081
  0.97932354 0.99352973 0.94985896 0.93061037 0.32365806]
 [0.79752066 0.66533865 0.6374502  0.56630824 0.25839502 0.44892375
  0.9169467  0.96190736 0.91616303 0.89740744 0.36217738]
 [0.6322314  0.67729084 0.71713147 0.75985663 0.27096643 0.69314832
  0.90585968 0.95716372 0.89996132 0.8791394  0.41026532]
 [0.76446281 0.74501992 0.74103586 0.66308244 0.19509123 0.58367597
  0.87315398 0.93938774 0.87545024 0.85375087 0.4533001 ]
 [0.65289256 0.5936255  0.67729084 0.60215054 0.38786516 0.5164095
  0.82928651 0.91369907 0.84589687 0.82401725 0.49310233]
 [0.79752066 0.80079681 0.69721116 0.65232975 1.         0.58309258
  0.8013541  0.89532531 0.82115477 0.79836584 0.53526628]
 [0.64876033 0.52589641 0.27888446 0.33333333 0.89279862 0.25914133
  0.70133976 0.8340473  0.76864288 0.74889927 0.56123798]
 [0.39669421 0.27888446 0.11952191 0.17562724 0.93906525 0.12914784
  0.57389941 0.75259177 0.7029356  0.68802495 0.57918405]
 [0.         0.         0.         0.         0.51872729 0.
  0.41744607 0.64892747 0.62262921 0.61450409 0.58823631]
 [0.03719008 0.03187251 0.11155378 0.11827957 0.38159353 0.16567295
  0.30360643 0.56335915 0.55380465 0.55063977 0.6031939 ]
 [0.02479339 0.20318725 0.05577689 0.29390681 0.45183376 0.39090476
  0.24175884 0.503307   0.50136109 0.50066315 0.62691394]
 [0.25206612 0.14342629 0.23904382 0.22580645 0.08299441 0.3307884
  0.1698453  0.43520699 0.44361381 0.44604518 0.64711845]
 [0.30991736 0.29083665 0.39840637 0.4265233  0.11973865 0.57002306
  0.15180944 0.39568036 0.40431071 0.4071161  0.67732479]
 [0.45041322 0.47410359 0.53784861 0.59856631 0.22072889 0.75059023
  0.17580166 0.38027201 0.3806819  0.38155615 0.71605266]
 [0.55785124 0.4501992  0.5498008  0.58064516 0.06779467 0.73135808
  0.19330991 0.362738   0.35578755 0.35489826 0.75372571]
 [0.45041322 0.4501992  0.49003984 0.5734767  0.07488445 0.7232263
  0.2074711  0.34457887 0.33059151 0.32796472 0.79088829]
 [0.5785124  0.46215139 0.38247012 0.36917563 0.13108726 0.50298084
  0.17241504 0.29906832 0.28773416 0.2858833  0.81763998]
 [0.31404959 0.26693227 0.3187251  0.38351254 0.13455036 0.52080826
  0.14405685 0.2564036  0.24670727 0.24530242 0.84500506]
 [0.37603306 0.31474104 0.30278884 0.35125448 0.04992117 0.48588269
  0.11084125 0.21020831 0.20338247 0.20269124 0.8706405 ]
 [0.43801653 0.39442231 0.39043825 0.35125448 0.02194554 0.48588269
  0.08078903 0.16492777 0.1606315  0.16050406 0.8961736 ]
 [0.26446281 0.20318725 0.24701195 0.31182796 0.08661862 0.43909218
  0.04436114 0.11519614 0.11497404 0.11576165 0.91962428]
 [0.30991736 0.25099602 0.38247012 0.390681   0.         0.55929084
  0.02987816 0.07714477 0.07686677 0.07741443 0.94694232]
 [0.33471074 0.27091633 0.37450199 0.34767025 0.1017465  0.50328323
  0.00669691 0.03401299 0.0354758  0.03620333 0.97199078]
 [0.24380165 0.26693227 0.30278884 0.40860215 0.09322932 0.59930824
  0.         0.         0.         0.         1.        ]]

In [ ]:
data_set_scaled = np.reshape(data_set_scaled, (1, 30, 11))

In [ ]:
data_set_scaled.shape

(1, 30, 11)

In [ ]:
y_pred = model.predict(data_set_scaled)
y_pred.shape

1/1 [==============================] - 0s 356ms/step

(1, 1)

In [19]:
trend_signal = int(y_pred)
if trend_signal == 0 :
    trend = 1
elif trend_signal == 1:
    trend = 2

# Techinal Strategy

Data fetching for techinal indicator

In [13]:
startDate = dt.date(2022,10,19) #last working day
endDate = dt.date.today()
# symbol="NSE:TATASTEEL-EQ"
resolution = "5"
technical_df = dynamicDataFetching(fyers,startDate,endDate,symbol,resolution)
clean_data(technical_df)
df = technical_df.rename(columns={"open":"Open","low":"Low","high":"High","close":"Close","volume":"Volume"})

In [14]:
technical_signal = ema_crossover(technical_df)

0

Now we have both trend_signal and technical_signal, we can have final singal

In [23]:

final_signal = 0
if trend_signal == 2 and technical_signal == 2:
  final_signal = 1
elif trend_signal == 1 and technical_signal == 1:
  final_signal = -1

In [56]:
#  check if already in position
def already_in_position(positions):
    if len(positions["netPositions"]) == 0: return False
    for position in positions["netPositions"]:
        pos_symbol = position["symbol"]  # NSE:SBIN-EQ
        side =  position["side"]  # 1 for long, -1 for short, and 0 for closed

        if pos_symbol == symbol and side == final_signal:
            return True
        else:
            return False

In [60]:
#  check if done for the day or not
def check_three_loses(positions):
    if len(positions["netPositions"]) == 0: return False
    for position in positions["netPositions"]:
        count = 0
        if position["side"] == 0:
            if position["pl"] < 0:
                count= count+1
    return count>=3

In [61]:
positions = fyers.positions()
can_trade = (already_in_position(positions)==False) and (check_three_loses(positions)==False)

# Taking trades
if can_trade:
    stop_loss = 2*technical_df.ATR[-1]
    target = 2*stop_loss
    data = {
        "symbol":symbol,
        "qty":1,
        "type":2,
        "side":final_signal,
        "productType":"BO",
        "limitPrice":0,
        "stopPrice":0,
        "validity":"DAY",
        "disclosedQty":0,
        "offlineOrder":"False",
        "stopLoss":stop_loss,
        "takeProfit":target
    }
    fyers.place_order(data)a