In [46]:
# %run ./fyers_auth.ipynb

In [47]:
from tensorflow import keras
import sys
sys.path.append('./shared')
sys.path.append('./strategies')
sys.path.append('./sql')
from data_fetching_func import dynamicDataFetching,clean_data 
from ema_crossover import ema_crossover
from money_management_rules import already_in_position,check_three_loses
import pandas as pd
import pandas_ta as ta
import datetime as dt
import numpy as np
from sql_config import connect_db,execute_and_fetch

In [48]:
db = connect_db()
cursor = db.cursor()
cursor.execute("USE tradingbot")

Importing Model

# Trend Prediction

In [86]:
startDate = (dt.date.today() - dt.timedelta(days = 800)) #last working day
endDate = dt.date.today()
resolution = "1D"
trend_df = dynamicDataFetching(fyers,startDate,endDate,symbol,resolution)
clean_data(trend_df)

In [87]:
trend_df.shape

(545, 5)

In [52]:
trend_df.tail()

                             open    high    low   close      volume
date
2022-10-17 05:30:00+05:30   99.75  100.40  98.10   99.55  37568783.0
2022-10-18 05:30:00+05:30  100.30  101.00  99.80  100.65  30722156.0
2022-10-19 05:30:00+05:30  100.60  101.25  99.70  100.05  38764542.0
2022-10-20 05:30:00+05:30   99.50  101.20  98.80  100.90  38091315.0
2022-10-21 05:30:00+05:30  100.85  101.45  99.35  100.20  30973997.0

In [53]:
# Adding indicators
trend_df['RSI']=ta.rsi(trend_df.close, length=15)
trend_df['EMA_20']=ta.ema(trend_df.close, length=20)
trend_df['EMA_100']=ta.ema(trend_df.close, length=100)
trend_df['EMA_150']=ta.ema(trend_df.close, length=150)
trend_df['EMA_200']=ta.ema(trend_df.close, length=200)
trend_df['EMA_500']=ta.ema(trend_df.close, length=500)


# Dropping null values after adding indicators and features
trend_df.dropna(inplace=True)
trend_df.reset_index(inplace = True)
# trend_df.drop(['volume', 'date'], axis=1, inplace=True) # not required
trend_df.drop([ 'date'], axis=1, inplace=True) # not required

In [54]:
trend_df = trend_df.tail(30)
trend_df.tail()

,open,high,low,close,volume,RSI,EMA_20,EMA_100,EMA_150,EMA_200,EMA_500
183,99.75,100.40,98.10,99.55,37568783.0,43.463089,101.512288,104.563477,106.685317,107.739421,93.063521
184,100.30,101.00,99.80,100.65,30722156.0,46.485680,101.430165,104.485982,106.605379,107.668879,93.093806
185,100.60,101.25,99.70,100.05,38764542.0,45.077278,101.298721,104.398141,106.518553,107.593069,93.121575
186,99.50,101.20,98.80,100.90,38091315.0,47.491982,101.260748,104.328871,106.444135,107.526472,93.152627
187,100.85,101.45,99.35,100.20,30973997.0,45.718424,101.159724,104.247111,106.361431,107.453571,93.180760

In [55]:
trend_df.shape

(30, 11)

In [56]:
# Scaling
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
data_set_scaled = sc.fit_transform(trend_df)
print(data_set_scaled)

[[0.86363636 0.75697211 0.83665339 0.75268817 0.41654363 0.71518736
  0.91741449 0.93926001 1.         1.         0.        ]
 [0.84710744 0.80478088 0.91633466 0.89964158 0.12798515 0.88565673
  0.93879432 0.95340541 0.99533807 0.99162203 0.05773305]
 [0.94628099 0.86454183 1.         0.89964158 0.17025133 0.88565673
  0.95813797 0.96727069 0.99073789 0.98332741 0.11523563]
 [0.80578512 1.         0.86055777 1.         0.70414154 1.
  0.99874215 0.99394846 0.9948524  0.98254102 0.17767279]
 [1.         0.88844622 0.91633466 0.84587814 0.40742996 0.78354788
  1.         1.         0.98562271 0.97035872 0.23193007]
 [0.79752066 0.7689243  0.79681275 0.75268817 0.97724979 0.6639081
  0.97968547 0.99377946 0.96847962 0.95140236 0.28117549]
 [0.79752066 0.66533865 0.6374502  0.56630824 0.25839502 0.44892375
  0.9184005  0.96337759 0.93549233 0.91884408 0.32063379]
 [0.6322314  0.67729084 0.71713147 0.75985663 0.27096643 0.69314832
  0.90750755 0.95881704 0.91963135 0.90093071 0.36989397]
 [0.76446281 0.74501992 0.74103586 0.66308244 0.19509123 0.58367597
  0.87537434 0.94172714 0.89563575 0.87603511 0.41397781]
 [0.65289256 0.5936255  0.67729084 0.60215054 0.38786516 0.5164095
  0.83227476 0.91702996 0.86670391 0.84687877 0.4547503 ]
 [0.79752066 0.80079681 0.69721116 0.65232975 1.         0.58309258
  0.80483128 0.89936535 0.84248214 0.82172539 0.49794208]
 [0.64876033 0.52589641 0.27888446 0.33333333 0.89279862 0.25914133
  0.70656764 0.84045245 0.7910746  0.77321923 0.5245469 ]
 [0.39669421 0.27888446 0.11952191 0.17562724 0.93906525 0.12914784
  0.58135807 0.76214079 0.72674917 0.7135268  0.54293044]
 [0.         0.         0.         0.         0.51872729 0.
  0.42764335 0.66247754 0.64813166 0.64143337 0.55220336]
 [0.03719008 0.03187251 0.11155378 0.11827957 0.38159353 0.16567295
  0.31579641 0.58021183 0.58075451 0.57880899 0.56752557]
 [0.02479339 0.20318725 0.05577689 0.29390681 0.45183376 0.39090476
  0.25503143 0.52247747 0.52941386 0.52980268 0.59182384]
 [0.25206612 0.14342629 0.23904382 0.22580645 0.08299441 0.3307884
  0.18437669 0.45700586 0.47288103 0.47624513 0.61252087]
 [0.30991736 0.29083665 0.39840637 0.4265233  0.11973865 0.57002306
  0.16665654 0.4190048  0.4344045  0.43807187 0.64346355]
 [0.45041322 0.47410359 0.53784861 0.59856631 0.22072889 0.75059023
  0.19022879 0.40419116 0.41127261 0.41300817 0.68313549]
 [0.55785124 0.4501992  0.5498008  0.58064516 0.06779467 0.73135808
  0.20743056 0.38733389 0.38690179 0.38686785 0.7217269 ]
 [0.45041322 0.4501992  0.49003984 0.5734767  0.07488445 0.7232263
  0.22134388 0.36987564 0.36223564 0.36045723 0.75979538]
 [0.5785124  0.46215139 0.38247012 0.36917563 0.13108726 0.50298084
  0.18690145 0.32612163 0.3202796  0.31919283 0.7871992 ]
 [0.31404959 0.26693227 0.3187251  0.38351254 0.13455036 0.52080826
  0.15903966 0.2851036  0.28011553 0.27939984 0.81523135]
 [0.37603306 0.31474104 0.30278884 0.35125448 0.04992117 0.48588269
  0.12640547 0.24069127 0.23770186 0.23761597 0.84149171]
 [0.43801653 0.39442231 0.39043825 0.35125448 0.02194554 0.48588269
  0.09687931 0.19715839 0.19584996 0.19624786 0.86764723]
 [0.26446281 0.20318725 0.24701195 0.31182796 0.08661862 0.43909218
  0.06108906 0.14934621 0.1511527  0.15237414 0.89166957]
 [0.30991736 0.25099602 0.38247012 0.390681   0.         0.55929084
  0.0468596  0.11276348 0.11384684 0.11477144 0.91965355]
 [0.33471074 0.27091633 0.37450199 0.34767025 0.1017465  0.50328323
  0.02408413 0.07129643 0.07332635 0.07436046 0.94531261]
 [0.24380165 0.26693227 0.30278884 0.40860215 0.09322932 0.59930824
  0.01750444 0.03859621 0.03859662 0.03886003 0.97400461]
 [0.3553719  0.28685259 0.34661355 0.35842294 0.00318611 0.52877954
  0.         0.         0.         0.         1.        ]]

In [57]:
data_set_scaled = np.reshape(data_set_scaled, (1, 30, 11))

In [58]:
data_set_scaled.shape

(1, 30, 11)

In [49]:
model = keras.models.load_model('./models/lstm_trend_1.0/')
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 first_layer (LSTM)          (None, 150)               97200

 dense_layer (Dense)         (None, 1)                 151

=================================================================
Total params: 97,351
Trainable params: 97,351
Non-trainable params: 0
_________________________________________________________________

In [59]:
y_pred = model.predict(data_set_scaled)
y_pred.shape

1/1 [==============================] - 0s 232ms/step

(1, 1)

In [99]:
trend_signal = int(y_pred)
if trend_signal == 0 :
    trend_signal = -1 #DOWN TREND
elif trend_signal == 1:
    trend_signal = 1 #UP TREND

cursor.execute(f"INSERT INTO trend VALUES(curdate(),'{symbol}',{trend_signal})")
db.commit()
# TODO - store in some kind of db then retrieve afterwards when required

# Techinal Strategy

Data fetching for techinal indicator

In [88]:

startDate = (dt.date.today() - dt.timedelta(days = 1)) #if week day

if  dt.date.today().weekday() == 6: #if sunday
    startDate = (dt.date.today() - dt.timedelta(days = 2)) 
if dt.date.today().weekday() == 0: #if monday
    startDate = (dt.date.today() - dt.timedelta(days = 3)) 

endDate = dt.date.today()
# symbol="NSE:TATASTEEL-EQ"
resolution = "5"
technical_df = dynamicDataFetching(fyers,startDate,endDate,symbol,resolution)
clean_data(technical_df)
technical_df = technical_df.rename(columns={"open":"Open","low":"Low","high":"High","close":"Close","volume":"Volume"})

In [90]:
technical_df.shape

(0, 5)

In [66]:
technical_signal = ema_crossover(technical_df)

Now we have both trend_signal and technical_signal, we can have final singal

In [67]:

final_signal = 0
if trend_signal == 2 and technical_signal == 2:
  final_signal = 1 #BUY
elif trend_signal == 1 and technical_signal == 1:
  final_signal = -1 #SELL

In [72]:

positions = fyers.positions()
#  check if already in position
#  check if done for the day or not
can_trade = (already_in_position(positions)==False) and (check_three_loses(positions)==False)

# Taking trades
if can_trade & final_signal != 0:
    stop_loss = 2*technical_df.ATR[-1]
    target = 2*stop_loss
    data = {
        "symbol":symbol,
        "qty":1,
        "type":2,
        "side":final_signal,
        "productType":"BO",
        "limitPrice":0,
        "stopPrice":0,
        "validity":"DAY",
        "disclosedQty":0,
        "offlineOrder":"False",
        "stopLoss":stop_loss,
        "takeProfit":target
    }
    resp = fyers.place_order(data)
    # if resp["code"] == 1101:
    print("Order placed successfully")
    curr_price = fyers.quotes({"symbols":symbol})
    curr_price = curr_price["d"][0]["v"]["lp"]
    absolute_target = curr_price 
    absolute_sl = curr_price
    if final_signal == 1:
        absolute_target = curr_price+target
        absolute_sl = curr_price-target
    elif final_signal == -1:
        absolute_target = curr_price-target
        absolute_sl = curr_price+target
    
    # storing in db 
    cursor.execute(f"""INSERT INTO tradebook VALUES
    (NOW(),'{symbol}',{curr_price},{absolute_target},{absolute_sl},{final_signal})
    """)
    db.commit()
    # else:
    #     print("Order not placed successfully")
else :
    print("No trade - can_trade & final_signal")

No trade - Can_trade = false